.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

p{ 
	padding-bottom: 10px;
}

h4{
	padding-top: 5px;
}

li{
  color: #00cbd4;
}

.active{
  font-size: 16px;
}

#test1, #test2, #test3 {
  padding-top: 30px;
  padding-bottom: 100px;
}

#hello {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

#tagline {
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 3s;
}

#hireme {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}



























